<table class="ui celled structured table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for categorie in categories %}
        <tr>

            <td>{{ categorie.nom }}</td>
            <td>
                {{ categorie.description }}

            </td>


            <td>
                <div class="ui mini icon blue button popupable editCategorie" data-id="{{ categorie.id }}" data-content="Modifier la catégorie">
                    <i class="edit icon"></i>
                </div>

                {% if categorie.isRemovable %}
                <a class="ui mini icon red button popupable " data-content="Supprimer la catégorie" href="{{ path('categorie_remove',{categorie: categorie.id}) }}">
                    <i class="remove icon"></i>
                </a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>