<div class="ui top attached message">
    <div class="header"><h3><i class="add icon"></i>{% block title %}{% endblock %}</h3></div>
</div>
<div class="ui bottom attached segment">

    <div class="ui inverted dimmer">
        <div class="ui text loader">Action en cours...</div>
    </div>

    {% set _block = block('message') %}
    {% if _block is not empty %}
        <div class="ui info message">
            {{ _block|raw }}
        </div>
    {% endif %}


    {% block form %}{% endblock %}

    <a class="ui red button" href="{{ path('app_addmembre_reset') }}">
        Reset
    </a>

    {% if next is defined %}
        <div class="ui blue button" id="next" data-next="{{ next }}">
            {% block next_step %}{% endblock %}
        </div>
    {% endif %}

</div>





