{% extends 'AppBundle:Layout:layout.html.twig' %}


{% block titre %}Catégories{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3>Gestion des catégories</h3>
                <div class="ui segment">


                    <div class="ui small button addCategorieForm">
                        <i class="add icon"></i>
                        Ajouter une catégories
                    </div>

                    {% include "AppBundle:Categorie:listeCategorie.html.twig" with {'categories': categories}  %}


                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block js %}

    {% javascripts
    '@AppBundle/Resources/public/js/Structure/page_gestionCategorie.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}

