{% extends 'AppBundle:Layout:layout.html.twig' %}


{% block titre %}Fonctions{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3>Gestion des fonctions</h3>
                <div class="ui segment">


                    <div class="ui small button addFonction">
                        <i class="add icon"></i>
                        Ajouter une fonction
                    </div>

                    {% include "AppBundle:Fonction:listeFonctions.html.twig" with {'fonctions': fonctions}  %}




                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    {% javascripts
    '@AppBundle/Resources/public/js/Structure/page_gestionFonction.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}


