{% extends 'layout.html.twig' %}


{% block titre %}Groupe Moldes{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">


                    <div class="ui small button addGroupeModelForm">
                        <i class="add icon"></i>
                        Ajouter un groupe model
                    </div>

                    {% include "AppBundle:GroupeModel:listeGroupeModel.html.twig" with {'models': models}  %}


                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block js %}

    {% javascripts
    '@AppBundle/Resources/public/js/Structure/page_gestionGroupeModel.js'%}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}

