#main-container {
    padding-top: 80px;
    margin-left: 10px;
}

a.anchor {
    height: 1px;
    position: absolute;
    right: 100%;
    top: -2.5em;
    width: 1px;
}


#main-menu #main-logo {
    width: 49px;
    height: 52px;
    margin-right: 10px
}

#layout-search-input:focus {
    background: rgba(255, 255, 255, 0.92)
}

