{% import "@App/Templates/liste.html.twig" as macro %}

<!-- temporary storage -->
<input type="hidden" value="" id="temporary-storage"/>

<!-- on stocke les infos du propriétaire pour les récupérer -->
<input type="hidden" value="{{ ownerEntity.id }}" id="owner-entity-id"/>

{% if ownerEntity.isClass('Membre') %}
    <input type="hidden" value="Membre" id="owner-entity-type"/>
{% elseif ownerEntity.isClass('Famille') %}
    <input type="hidden" value="Famille" id="owner-entity-type"/>
{% endif %}


<div class="ui grid">
    <div class="row">
        <div class="column">

            <div id="infoFinanceContent">

                <div class="ui info message">
                    {% if ownerEntity.isClass('Membre') %}
                        {% if ownerEntity.envoiFacture == 'Membre' %}
                            <i class="icon user"></i>
                            Les créances de ce membre lui sont directement facturées
                        {% elseif ownerEntity.envoiFacture == 'Famille' %}
                            <i class="icon users"></i>
                            Les créances de ce membre sont facturée à la famille {{ ownerEntity.famille.nom }}
                        {% endif %}

                    {% endif %}

                </div>

                <h4>Factures</h4>


                {% include "InterneFinancesBundle:Interface:listeFacture.html.twig" with {'ownerEntity':ownerEntity}%}

                <h4>Créances</h4>

                <div class="ui right floated basic segment">

                    <div id="interface-add-creance" class="ui button" data-id="{{ ownerEntity.id  }}" data-class="{{ ownerEntity.class }}">Ajouter une créance</div>

                </div>


                {% include "InterneFinancesBundle:Interface:listeCreance.html.twig" with {'ownerEntity':ownerEntity}%}

            </div>
        </div>
    </div>
</div>







