{% extends "InterneHomeBundle::layout.html.twig" %}

{% block title %}Roles et fonctions{% endblock %}

{% block body %}

	<div id="corpus">
		
		<h1>Roles et fonctions</h1>

	</div>
	
	<div id="hierarchie"></div>
		


{% endblock %}

{% block javascript %}

	<script type="text/javascript" src="{{ asset('js/interne/groupes.js') }}"></script>

{% endblock %}