


<div class="panel panel-default">
    <div class="panel-heading">Etape 1: ajout de créances</div>
    <div class="panel-body">
        Les créance peuvent être liée à des membres ou des familles.

        Une créance contient:

        <ul>
            <li>Un titre (ex: camp d'été 2014)</li>
            <li>Une remarques (non obligatoire)</li>
            <li>Un montant exigé</li>
            <li>Une date de création (automatique)</li>
            <li>Un montant reçu</li>
        </ul>

        L'ajout de créance se faire de trois méthodes différentes:

        <div class="panel panel-default">
            <div class="panel-heading">Méthode 1: via la page d'un membre</div>
            <div class="panel-body">
                La page d'affichage d'un membre permet de voir quelle sont les cérances et factures qui lui sont liées.
                Depuis l'affichage des cérances on peut ajouter une cérance en cliquant sur le bouton correspondant.



            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Méthode 2: via la page d'une famille</div>
            <div class="panel-body">
                La page d'affichage d'un membre permet de voir quelle sont les cérances et factures qui lui sont liées.
                Depuis l'affichage des cérances on peut ajouter une cérance en cliquant sur le bouton correspondant.



            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Méthode 3: ajout en masse via une liste de membre </div>
            <div class="panel-body">
                On peut ajouter en masse des créances (donc la même créance à plusieurs membres) via une liste de membre, soit depuis la liste dynamique, soit depuis une liste de membre dans un groupe.)


            </div>
        </div>


    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Etape 2: Facturations des créances</div>
    <div class="panel-body">
        La facturation des cérances va crée des factures. Par exemple, si un membre a plusieurs cérances "en attente" de facturation, la facturation va prendre toute ces créances "en attente" et en faire une facture. Le même méchanisme marche aussi pour les famille.

        Il y a deux manières de faire la facturation.

        <div class="panel panel-default">
            <div class="panel-heading">Méthode 1: Facturation depuis une recherche de créance "en attente" </div>
            <div class="panel-body">

                Depuis la page de recherche des créances et factures, on peut faire une recherche spécifique sur les céances "en attente" donc pas encore facturée.

                Si l'on ne spécifie rien de plus, le résultat de cette recherche permet d'obtenir toute les cérances en attente. En les séléctionnant toute, on peut créer les factures correspondante. A noter que cette méthode est la plus efficace pour minimiser le nombre de facture créées (donc le nombre d'envoie).

                (On peut toujours facturé


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Méthode 2: Facturation depuis les membres/familles </div>
            <div class="panel-body">
                La facturation de créance "en attente" peut se faire depuis la liste des cérances obtenue à l'affichage d'un membre ou d'une famille.





            </div>
        </div>


    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Etape 3: Gestion des factures</div>
    <div class="panel-body">
        Chaque facture contient une ou plusieurs créances et a également les propriétés suivante:

        <ul>
            <li>Un numéro de référance</li>
            <li>Un certain nombre de rappels</li>
            <li>Un statut ("ouverte" ou "payée") </li>
            <li>Une date de payement (automatique)</li>
            <li>Une date de création (automatique)</li>
            <li>Un montant reçu</li>
        </ul>

        A noter que le montant total d'une facture est une somme des créances et des frais de rappel.

        <div class="panel panel-default">
            <div class="panel-heading">Gestion des rappels</div>
            <div class="panel-body">
                Les factures peuvent recevoir des rappels. Chaque rappel contient:

                <ul>
                    <li>Un montant (frais de rappel)</li>
                    <li>Une date de création (automatique)</li>
                </ul>

                Un rappel peut être ajouter par deux manières:




            </div>
        </div>

    </div>
</div>

