.editable {
    color: #5a5a5a
}

.editable:hover {
    background: #fbf8d2
}

.editable.currently-edited {
    background: #fbf8d2
}

.no-editable {
    background: #ffddd6
}

.selected td {
    background: #d1e6e3
}

.editable-content-container {
    padding: 0
}

.editable-content-container input, .editable-content-container select {
    padding: 3px;
    background: white;
    border-radius: 2px;
    border: 1px solid #adadad;
    margin-right: 10px
}
