{% extends 'AppBundle:Layout:layout.html.twig' %}

{% import 'AppBundle:Groupe:macro_hierarchie_groupe.html.twig' as macro %}

{% block titre %}Groupes{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3>Gestion des groupes</h3>
                <div class="ui segment">


                    <div class="ui small button addGroupeRacine">
                        <i class="add icon"></i>
                        Ajouter un groupe racine
                    </div>

                    {{ macro.hierarchie(highestGroupes)}}

                </div>
            </div>
        </div>
    </div>





{% endblock %}






