{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Accueil{% endblock %}

{% block content %}

    <div class="ui page grid">

        <div class="row">
            <div class="column">
                <div class="ui segment">

                    A develloper

                </div>
            </div>
        </div>
    </div>




{% endblock %}