<table class="ui table">
    <thead>
    <tr>
        <th>Distinction</th>
        <th>Depuis</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for obtention in distinctions %}
        <tr>
            <td>{{ obtention.distinction.nom }}</td>
            <td>{{ obtention.date|date('d.m.Y') }}</td>
            <td>
                {% if obtention.distinction.remarques is not null %}
                    <i class="file text outline icon link popupable" data-title="Remarques" data-content="{{ obtention.distinction.remarques }}"></i>
                {% endif %}
                <i class="delete icon link red"></i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>