{% extends "layout.html.twig" %}

{% block titre %}Dev Bundle Finances{% endblock %}


{% block content %}



    {% import "InterneFinancesBundle:Templates:liste.html.twig" as macro %}

    {% set headers = [['','','Montants','','',''],['Num. Réf','Statut','Créances','Rappels','Total','Reçu']]%}

    {% set columns = ['id','statut','montantEmisCreances','montantEmisRappels','montantEmis','montantRecu'] %}

    {% set actions = [['voir','Afficher','voir_facture'],['delete','Supprimer','delete_facture']] %}

    {% set patterns = [
    {'statut':'<div class="ui label green">Payée</div>','equal':'payee'},
    {'id':'N°[data]'}
    ] %}


    {% set filters = [
    {'montantEmis':'number_2'},
    {'montantEmisCreances':'number_2'},
    {'montantEmisRappels':'number_2'},
    {'montantRecu':'number_2'},
    ] %}

    {% if test is not empty %}
        {{ macro.liste(test,headers,columns,actions,patterns,filters) }}
    {% endif %}







{% endblock %}