{% extends "layout.html.twig" %}

{% block titre %}Dev Bundle Finances{% endblock %}


{% block content %}
   {% for facture in factures %}

       {{ facture.id }}

    {% endfor %}

    {{ test }}

    <br>



TO DO LIST
<ul>
    <li>statistique</li>
    <li></li>
    <li>l'algo de recherche avec inclusion des onetomany</li>
    <li>action en masse depuis le formulaire de recherche</li>
    <li></li>
    <li>télécharger la librairie pour les graphiques de stat</li>
    <li>validation des formulaire</li>
    <li>date de paiement dans le forumlaire de saisie manuel</li>

</ul>



{% endblock %}