{% extends "layout.html.twig" %}

{% block titre %}Dev Bundle Finances{% endblock %}


{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">

                <div class="ui styled fluid accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Etape 1: ajout de créances
                    </div>
                    <div class="content">


                        Les créance peuvent être liée à des membres ou des familles.

                        Une créance contient:

                        <table class="ui table">
                            <thead>
                            <tr>
                                <th>Parametre</th>
                                <th>Exemple</th>
                                <th>note</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td>Titre</td>
                                <td>Camp d'été 2015</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarque</td>
                                <td>Présence la moitié du camp (rabais)</td>
                                <td>non obligatoire</td>
                            </tr>
                            <tr>
                                <td>Date de création</td>
                                <td>09.09.2015</td>
                                <td>automatique</td>
                            </tr>
                            <tr>
                                <td>Date de payement</td>
                                <td>09.12.2015</td>
                                <td>automatique</td>
                            </tr>
                            <tr>
                                <td>Montant emis</td>
                                <td>100.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Montant reçu</td>
                                <td>100.00</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>





                        L'ajout de créance se faire de trois méthodes différentes:

                        <div class="ui styled fluid accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Méthode 1: via la page d'un membre
                            </div>
                            <div class="content">
                                La page d'affichage d'un membre permet de voir quelle sont les cérances et factures qui lui sont liées.
                                Depuis l'affichage des cérances on peut ajouter une cérance en cliquant sur le bouton correspondant.
                            </div>
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Méthode 2: via la page d'une famille
                            </div>
                            <div class="content">
                                La page d'affichage d'une famille permet de voir quelle sont les cérances et factures qui lui sont liées.
                                Depuis l'affichage des cérances on peut ajouter une cérance en cliquant sur le bouton correspondant.
                            </div>
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Méthode 3: ajout en masse via une liste de membre
                            </div>
                            <div class="content">
                                On peut ajouter en masse des créances (donc la même créance à plusieurs membres) via une liste de membre, soit depuis la liste dynamique, soit depuis une liste de membre dans un groupe.
                            </div>
                        </div>








                    </div>

                    <div class="title">
                        <i class="dropdown icon"></i>
                        Etape 2: Facturations des créances
                    </div>
                    <div class="content">
                        <p>

                            La facturation des cérances va crée des factures. Par exemple, si un membre a plusieurs cérances "en attente" de facturation, la facturation va prendre toute ces créances "en attente" et en faire une facture. Le même méchanisme marche aussi pour les famille.

                            Il y a deux manières de faire la facturation.

                        <div class="panel panel-default">
                            <div class="panel-heading">Méthode 1: Facturation depuis une recherche de créance "en attente" </div>
                            <div class="panel-body">

                                Depuis la page de recherche des créances et factures, on peut faire une recherche spécifique sur les céances "en attente" donc pas encore facturée.

                                Si l'on ne spécifie rien de plus, le résultat de cette recherche permet d'obtenir toute les cérances en attente. En les séléctionnant toute, on peut créer les factures correspondante. A noter que cette méthode est la plus efficace pour minimiser le nombre de facture créées (donc le nombre d'envoie).

                                (On peut toujours facturé


                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Méthode 2: Facturation depuis les membres/familles </div>
                            <div class="panel-body">
                                La facturation de créance "en attente" peut se faire depuis la liste des cérances obtenue à l'affichage d'un membre ou d'une famille.





                            </div>
                        </div>

                        </p>
                    </div>

                    <div class="title">
                        <i class="dropdown icon"></i>
                        Etape 3: Gestion des factures
                    </div>
                    <div class="content">
                        <p>

                            Chaque facture contient une ou plusieurs créances et a également les propriétés suivante:

                        <ul>
                            <li>Un numéro de référance</li>
                            <li>Un certain nombre de rappels</li>
                            <li>Un statut ("ouverte" ou "payée") </li>
                            <li>Une date de payement (automatique)</li>
                            <li>Une date de création (automatique)</li>
                            <li>Un montant reçu</li>
                        </ul>

                        A noter que le montant total d'une facture est une somme des créances et des frais de rappel.

                        <div class="panel panel-default">
                            <div class="panel-heading">Gestion des rappels</div>
                            <div class="panel-body">
                                Les factures peuvent recevoir des rappels. Chaque rappel contient:

                                <ul>
                                    <li>Un montant (frais de rappel)</li>
                                    <li>Une date de création (automatique)</li>
                                </ul>

                                Un rappel peut être ajouter par deux manières:




                            </div>
                        </div>



                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Etape 4: Paiements
                    </div>
                    <div class="content">

                        Un paiement est une somme d'argent reçue sur un des comptes du groupe. Il faut rentrer paiement dans le système afin de valider la facture qui lui est liée.
                        Un paiement se caractérise donc par:

                        <ul>
                            <li>Un numéro de référance d'une facture</li>
                            <li>Un montant reçu</li>
                            <li>Une date de paiement</li>
                            <li>Un statut</li>
                        </ul>


                        <div class="ui styled fluid accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Méthode 1: Saisie manuelle
                            </div>
                            <div class="content">
                                On rentre simplement le numéro de référance de la facture, le montant reçu et la date de paiement (par défaut: date actuelle).

                            </div>
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Méthode 2: Chargement de fichier
                            </div>
                            <div class="content">

                            </div>
                        </div>

                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Etape 5: Validation des paiements
                    </div>
                    <div class="content">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





{% endblock %}




{% block js %}
    <script>
        //activation de l'accordeon
        $('.ui.accordion').accordion();
    </script>


{% endblock %}