<div class="ui modal" id="modal-add-attribution">
    <i class="close icon"></i>
    <div class="header">
        Ajouter une attribution
    </div>
    <div class="content">

        <form method="post" action="{{ path('interne_attribution_render_modale_or_persist') }}">
            <div id="add_attribution_custom_form_container"></div>
            <button type="submit" class="ui green button">Ajouter</button>
        </form>
    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>