# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     ~
    database_password: ~
    database_server_version: 5.5.38 # your database server version here
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            fr
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    elastic_host: localhost
    elastic_port: 9200
    #Email for bug notification
    bug_report_email: dev.sauvabelin@gmail.com
    #For maintenance bundle
    maintenance_host: 127.0.0.1
    maintenance_port: 11211




