{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Recherche de facture{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="four wide column">

                {% include "InterneFinancesBundle:Facture:searchForm.html.twig" with {'searchForm':searchForm} %}

            </div>

            <div class="twelve wide column">

                {{ list_container.getModel(constant('AppBundle\\Utils\\ListRenderer\\Model::FactureSearchResults'), factures).render|raw }}

            </div>
        </div>
    </div>


{% endblock %}

