<h3>Cible d'envoi</h3>

{% if (adresseExpedition is not null) or (listeEmailsExpedition is not empty) %}

    <div class="ui grid">
        <div class="row">
            {% if adresseExpedition is not null %}
                <div class="six wide column">

                    <div class="ui segment">
                        <div class="ui top left attached label"><i class="mail outline icon"></i>Par courrier</div>
                        <div class="ui content">

                            {% include 'AppBundle:Adresse:show_format_postal.html.twig' with {'adresseExpedition':adresseExpedition} %}

                        </div>
                    </div>

                </div>
            {% endif %}
            {% if adresseExpedition is not null %}
                <div class="ten wide column">
                    <div class="ui segment">
                        <div class="ui top left attached label">@ Par Email</div>
                        <div class="ui content">

                            {% include 'AppBundle:Email:show_liste_expedition.html.twig' with {'listeEmailsExpedition':listeEmailsExpedition} %}

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% else %}
    <div class="ui yellow icon message">Aucune moyen de contact !!!</div>
{% endif %}