{% extends "AppBundle:Layout:layout.html.twig" %}





{% block titre %}Payements{% endblock %}


{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">


                <h1 class="header">Validation des payements</h1>



                {% include 'InterneFinancesBundle:Payement:validationListe.html.twig' with {'results':results}%}


            </div>
        </div>
    </div>



    {% endblock %}

    {% block js %}

    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/model/*.js'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}