{% extends "AppBundle:Layout:layout.html.twig" %}





{% block titre %}Payements{% endblock %}


{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">

                    <div id="payement-infos-context" class="tab-context">

                        <div class="ui top attached tabular menu">
                            <div class="active item" data-tab="validation">
                                Validation
                            </div>
                            <div class="item" data-tab="saisie">
                                Saisie
                            </div>
                            <div class="item" data-tab="recherche">
                                Recherche
                            </div>
                        </div>
                        <div class="ui bottom attached active tab segment" data-tab="validation">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="column">

                                        <div id="payementsWaitingListe">

                                            {% render url('interne_fiances_payement_waiting_liste') %}

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="saisie">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="column">

                                        {% include "InterneFinancesBundle:Payement:saisie.html.twig" %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="recherche">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="column">

                                        <div class="ui button openModalPayementSearch">Recherche de payement</div>

                                        <div id="payementsSearchResults"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>





                </div>
            </div>
        </div>
    </div>






    {% endblock %}

    {% block js %}

    {% javascripts
        '@InterneFinancesBundle/Resources/public/js/liste.js'
        '@InterneFinancesBundle/Resources/public/js/page_payement.js'
        '@InterneFinancesBundle/Resources/public/js/modal_display.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}