{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Saisie de payement{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="five wide column">

                <div class="ui form segment">
                    <h4 class="ui dividing header">Saisie manuellee</h4>

                    <div class="field">
                        <input id="form_num_ref" type="number" placeholder="Num. de référance">
                    </div>
                    <div class="field">
                        <input id="form_montant_recu" type="number" placeholder="Montant reçu">
                    </div>

                    <div class="tiny ui button saisieAddManualy">
                        Valider
                    </div>
                </div>

            </div>

            <div class="ten wide column">

                <div class="ui form segment">
                    <h4 class="ui dividing header">Chargement de fichier</h4>
                    <div class="field">
                        <input id="form_file" type="file" placeholder="Ficher de type *.V11">
                    </div>



                    <div class="ui button saisieUploadFile">
                        Charger
                    </div>
                </div>


            </div>

        </div>
    </div>



{% endblock %}

{% block js %}


    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/model/*'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}