{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Saisie de payement{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="eight wide column">

                <div class="ui segment">

                    {% include  "InterneFinancesBundle:Payement:addForm.html.twig" with {'formMultiple': formMultiple} %}

                </div>


            </div>

            <div class="eight wide column">

                <div class="ui segment">

                    {% include  "InterneFinancesBundle:Payement:uploadFileForm.html.twig" with {'formUpload': formUpload} %}

                </div>


            </div>

        </div>
    </div>



{% endblock %}

{% block js %}


    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/model/*'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    '@InterneFinancesBundle/Resources/public/js/page_saisie.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}