{% for payement in payements %}
    <tr>
        <td>
            {% if payement.state == 'not_found' %}
                <i class="red warning circle icon"></i>
                Facture inexistante
            {% elseif payement.state == 'found_upper' %}
                <i class="add circle icon green"></i>
                Montant plus élevé
            {% elseif payement.state == 'found_already_payed' %}
                <i class="red warning circle icon"></i>
                Facture déjà payée
            {% elseif payement.state == 'waiting' %}
                <i class="wait icon"></i>
                En attente de validation
            {% endif %}
        </td>
        <td>{{ payement.idFacture }}</td>
        <td>{{ payement.montantRecu|number_format(2, '.', ',') }}</td>
        <td>{{ payement.datePayement|date("d/m/Y") }}</td>
    </tr>


{% endfor %}