{% import "@App/Templates/liste.html.twig" as macro %}

{% set NOT_FOUND = constant('Interne\\FinancesBundle\\Entity\\Payement::NOT_FOUND') %}
{% set FOUND_LOWER = constant('Interne\\FinancesBundle\\Entity\\Payement::FOUND_LOWER') %}
{% set FOUND_UPPER = constant('Interne\\FinancesBundle\\Entity\\Payement::FOUND_UPPER') %}
{% set FOUND_ALREADY_PAID = constant('Interne\\FinancesBundle\\Entity\\Payement::FOUND_ALREADY_PAID') %}
{% set FOUND_VALID = constant('Interne\\FinancesBundle\\Entity\\Payement::FOUND_VALID') %}
{% set FOUND_ALREADY_PAID = constant('Interne\\FinancesBundle\\Entity\\Payement::FOUND_ALREADY_PAID') %}


{% set toolbar =
    {'search_bar':true,'selection_buttons':false,'paging':[10,20,50]}
%}

{% set headers = [['N°Réf.','Date','Montant recu','Montant emis','Etat']]%}

{% set columns = ['idFacture','date','montantRecu','facture.montantEmis','state'] %}


{% set actions = [
{'icon':'red remove','label':'Ingoer le payement','event':'event_ignore_payement','conditions':[['state','equal',NOT_FOUND]]},
{'icon':'green check','label':'Valider le payement','event':'event_validate_payement','conditions':[['state','equal',FOUND_VALID]]},
{'icon':'edit','label':'Répartir la somme','event':'event_repartition_payement','conditions':[['state','equal',FOUND_LOWER]]},
{'icon':'edit','label':'Valider le payement','event':'event_repartition_payement','conditions':[['state','equal',FOUND_UPPER]]},
{'icon':'red remove','label':'Ingoer le payement','event':'event_ignore_payement','conditions':[['state','equal',FOUND_ALREADY_PAID]]},
] %}

{% set patterns = [
{'state':'<i class="large red circle warning icon popupable" data-content="Facture inexistante pour ce payement"></i>','equal':NOT_FOUND},
{'state':'<i class="large green circle check icon popupable" data-content="Payement valide"></i>','equal':FOUND_VALID},
{'state':'<i class="large yellow circle arrow up icon popupable" data-content="Montant supérieur"></i>','equal':FOUND_UPPER},
{'state':'<i class="large yellow circle arrow down icon popupable" data-content="Montant inférieur"></i>','equal':FOUND_LOWER},
{'state':'<i class="large yellow circle check icon popupable" data-content="Facture déjà payée"></i>','equal':FOUND_ALREADY_PAID},
{'idFacture':'N°[data]'},
{'montantRecu':'','equal':0},
{'montantEmis':'','equal':0},
] %}


{% set filters = [
{'facture.montantEmis':'number_2'},
{'montantRecu':'number_2'},
{'date':'date'},
] %}



{% if results is not empty %}
    {#{{ macro.liste('waiting_liste',waitingListe,headers,columns,actions,patterns,filters,toolbar) }}
    #}
    {{ macro.liste('waiting_liste',results,headers,columns,actions,patterns,filters,toolbar) }}
{% else %}
    <div class="ui info message">Aucun payement en attente de validation</div>
{% endif %}