{% import "@App/Templates/liste_membres.html.twig" as macro %}

<h2 class="ui header">
    <i class="list layout icon"></i>
    <div class="content">
        {{ liste.name }}
        <div class="sub header">
            Contient {{ liste.size }} membre{% if liste.size > 1 %}s{% endif %}
        </div>
    </div>
</h2>

{% if liste.all is not empty %}
    {{ macro.listeMembres('liste_membres', liste.all) }}
{% endif %}


    <div class="ui tiny red icon button listing-remove-liste-button" data-token="{{ liste.token }}"><i
                class="remove icon"></i></div>

</div>

