<div class="ui small modal" id="modal-listing-create-new">
    <i class="close icon"></i>
    <div class="header">
        Ajouter une nouvelle liste
    </div>
    <div class="content">
        <div class="ui action input">
            <input placeholder="Nom de la liste" id="add-liste-input" type="text">
            <button id="add-liste-button" class="ui teal right labeled icon button">
                <i class="add icon"></i>
                Créer
            </button>
        </div>
    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>