{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Listes{% endblock %}

{% block content %}

    {{ dump(listing) }}

    {{ modal_caller('<a class="ui button">create</a>',path('app_listing_create')) }}



{% endblock %}



