

<div class="ui page grid">

    <div class="four wide column">

        <div class="ui vertical menu">

            <a class="inverted green item" id="add-liste-modale-button">
                <i class="add icon"></i>
                Nouvelle liste
            </a>

            {% for liste in listing.listes %}
                <a class="item show-liste-button" data-token="{{ liste.token }}">
                    {{ liste.name }}
                    <div class="ui teal label">{{ liste.size }}</div>
                </a>
            {% endfor %}
        </div>

    </div>
    <div class="twelve wide column">

        <div class="ui segment" id="liste-viewer-container"></div>

    </div>

</div>