{% extends 'AppBundle:Templates:modal.html.twig' %}

{% import _self as macros %}

{% block header %}

    Hierarchie des roles

{% endblock %}

{% block content %}

<div class="ui list">
    {% for root in hierarchy %}
        {{ _self.printRole(root) }}
    {% endfor %}
</div>

{% endblock %}


{% macro printRole(role) %}
    <div class="item">
        <i class="key icon"></i>
        <div class="content">
            <div class="header">{{ role.key }}</div>
            {% if role.description is not null %}<div class="description">{{ role.description }}</div>{% endif %}
            <div class="list">
                {% for child in role.childs %}
                    {{ _self.printRole(child) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}