
{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Accueil{% endblock %}

{% block content %}

    <div class="ui page grid">

        <div class="row">
            <div class="column">
                <div class="ui segment">

                    <iframe src="https://www.google.com/calendar/embed?src=2nfd0g1ej2s09gkd1ueve0arfk%40group.calendar.google.com&ctz=Europe/Zurich" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

                </div>
            </div>
        </div>
    </div>




{% endblock %}