<div class="ui top attached message">
    <div class="header">
        <h4 class="header">Créances</h4>
    </div>
</div>

<div class="ui bottom attached segment">
    {{ list_caller.DebiteurCreances(debiteur)|raw }}
</div>

<div class="ui top attached message">
    <div class="header">
        <h4 class="header">Facture</h4>
    </div>
</div>

<div class="ui bottom attached segment">
    {{ list_caller.DebiteurFactures(debiteur)|raw }}
</div>

