{% extends "AppBundle:Layout:layout.html.twig" %}

{% block titre %}Validation des payements{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h1 class="header">Validation des payements</h1>

                {{ list_caller.payementNotValidated()|raw }}

            </div>
        </div>
    </div>

{% endblock %}



