{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Recherche de payement{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="four wide column">

                {% include "AppBundle:Payement:searchForm.html.twig" with {'searchForm':searchForm} %}


            </div>


            <div class="twelve wide column">




                {% if payements is not empty %}



                    {% include "AppBundle:Payement:payementsListe.html.twig" with {'results':payements} %}


                {% endif %}



            </div>
        </div>
    </div>


{% endblock %}

