
{% form_theme form 'AppBundle:Form:form_search_accordion.html.twig' %}



 {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
<div class="ui top attached message">
    <h4 class="ui header">Recherche de payement</h4>
</div>

<div class="ui bottom attached segment">


    <div class="ui grid">
        <div class="eight wide column">
            {{ form_rest(form) }}
        </div>
        <div class="eight wide column">



        </div>
    </div>

    <div class="ui divider"></div>

    <input type="submit" value="Rechercher" class="ui blue submit button">

</div>

{{ form_end(form) }}

