{% form_theme form 'AppBundle:Templates:form_template.html.twig' %}

<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        <h4 class="modal-title" >Ajouter un envois</h4>
    </div>
    <div class="content">

        {{ form_start(form, {'attr': {'class': 'ui form' }}) }}

        {{ form_rest(form) }}

        <div class="ui field">
            <input type="submit" class="ui green button" value="Ajouter" />
        </div>

        {{ form_end(form) }}

    </div>
</div>





