{% extends 'AppBundle:Layout:layout.html.twig' %}


{% block titre %}
Recherche
{% endblock %}



{% block content %}
<div class="ui page grid">
    <div class="row">
        <div class="column">

            <div class="ui attached blue form segment">

                <div class="ui grid">

                    <div class="row">
                        <div class="column">

                            <h4>Recherche détaillée</h4>


                            {% include 'AppBundle:Membre:form_search.html.twig'  with {'form':membreForm}%}

                        </div>
                    </div>

                </div>

            </div>

            <div class="ui attached segment">

                <h2>Resultats</h2>

                {{ list_caller.Session(list_key)|raw }}

            </div>
        </div>
    </div>
</div>
{% endblock %}

