{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Ajouter un membre{% endblock %}

{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div id="membre_add_form">
                {{ render(controller('AppBundle:AddMembre:start')) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/Membre/page_ajouter_membre.js') }}"></script>
{% endblock %}
