<h3><i class="mail outline icon"></i> Envoi par courrier</h3>

<div class="ui steps" id="liste-adresses">

    <div class="step adresse" id="adresse-membre">

        <div class="content">
            <div class="title">Adresse du membre</div>
            <div class="description">

                {{ membre.nom|capitalize }} {{ membre.prenom|capitalize }}

                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.contact.adresse } %}

                <div class="ui toggle checkbox" id="membre">
                    <input type="checkbox">
                </div>




            </div>
        </div>
    </div>
    <div class="step adresse" id="adresse-famille">
        <div class="content">
            <div class="title">Adresse familliale</div>
            <div class="description">

                Famille {{ membre.nom|capitalize }}

                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.famille.contact.adresse} %}




            </div>
        </div>
    </div>
    <div class="disabled step adresse" id="adresse-mere">
        <div class="content">
            <div class="title">Adresse de la mère</div>
            <div class="description">

                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.famille.mere.contact.adresse} %}



            </div>
        </div>
    </div>
    <div class="disabled step adresse" id="adresse-pere">
        <div class="content">
            <div class="title">Adresse du père</div>
            <div class="description">

                {% include 'AppBundle:Adresse:adresse_ajax_edit_form.html.twig' with {'adresse':membreForm.famille.pere.contact.adresse} %}



            </div>
        </div>
    </div>
</div>