<div class="ui grid">
    <div class="row">
        <div class="ten wide column">
            <h4>Attributions</h4>
            {% include "AppBundle:Attribution:listeAttribution.html.twig" with {'attributions': membre.attributions } %}
        </div>


        <div class="six wide column">
            <h4 class="ui header">Distinctions</h4>
            {% include "AppBundle:ObtentionDistinction:listeObtentionDistinction.html.twig" with {'distinctions': membre.distinctions } %}

        </div>
    </div>

</div>