<div id="telephone-modale" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajouter un numéro
    </div>

    <div class="content">

        {{ form_start(form,{'attr': {'class': 'ui form'}}) }}


        {{ form_widget(form.telephone) }}

        {{ form_widget(form.remarques)  }}



        <div class="ui field">
            <input type="submit" class="ui green button" value="Ajouter" />
        </div>

        {{ form_end(form) }}


    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>