{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Gestion des modifications{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="column">

            <div class="ui grid">

                <div class="row">

                    <div class="twelve wide column">
                        <h2 class="ui header">
                            <i class="cubes icon"></i>
                            <div class="content">
                                Modifications
                                <div class="sub header">Gestion des valeurs modifiées en attente</div>
                            </div>
                        </h2>
                    </div>
                </div>

                <div class="one column row">
                    <div class="column">

                        <div class="ui attached message">
                            <div class="header"><h3><i class="info icon"></i>Sur des membres</h3></div>
                        </div>

                        <div class="ui bottom attached segment">

                            <div class="ui basic buttons">
                                <div class="ui button">Auteur</div>
                                <div class="ui button">Date</div>
                                <div class="ui button">Personne/Famille</div>
                            </div>

                            <table class="ui small table">
                                <thead>
                                    <tr>
                                        <th>Auteur de la modification</th>
                                        <th>Concerne</th>
                                        <th>Ancienne valeur</th>
                                        <th>Nouvelle valeur</th>
                                        <th>Date</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-modifs">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var modifications   = {{ jsonModifications|raw }};
        var $tbody          = $('#tbody-modifs');

        function orderModifications(order) {
            $(modifications).each(function(k, v) {

                $tbody.append('<tr data-modif-id="' + v.id + '"><td>')
            });
        }
    </script>
{% endblock %}