{% extends 'InterneGalerieBundle:Public:galerie_layout.html.twig' %}

{% block titre %}Accès refusé{% endblock %}

{% block content %}

<div class="ui page grid">
    <div class="column">
        <h1 style="margin-top:40px;">Accès interdit</h1>

        <div class="ui segment">

            <div class="ui warning message">
                <div class="title">Attention</div>
                <div class="content">La ressource à laquelle vous tentez d'accéder a été bloquée, ou un répertoire parent a été bloqué. Son accès est donc restreint.</div>
            </div>

        </div>

    </div>

</div>

{% endblock %}