{% set toolbar =
{'masse_actions':[
['alarm outline','Ajouter un rappel','event_masse_ajout_rappel'],
['send','Envoyer les factures','event_masse_send_facture'],
['trash','Supprimer','event_masse_delete_facture']],
'search_bar':true,
'selection_buttons':true,
'paging':[10,20,50],
'sizing_label':'Factures'}
%}

{% set headers = [['Num. Réf','Statut','Créances','Rappels','Total','Reçu']]%}

{% set columns = ['id','statut','montantEmisCreances','montantEmisRappels','montantEmis','montantRecu'] %}

{% set actions = [  {'icon':'zoom','label':'Afficher','event':'event_voir_facture'},
{'icon':'trash','label':'Supprimer','event':'event_delete_facture'},
{'icon':'send','label':'Envoyer (todo)','event':'event_send_facture','conditions':[['statut','equal','ouverte']]},
{'icon':'print','label':'Imprimer PDF (todo)','event':'event_print_facture','conditions':[['statut','equal','ouverte']]},
{'icon':'alarm outline','label':'Ajouter un rappel','event':'event_add_rappel','conditions':[['statut','equal','ouverte']]}
] %}

{% set patterns = [
{'statut':'<div class="ui label green">Payée</div>','equal':'payee'},
{'statut':'<div class="ui label blue">Ouverte</div>','equal':'ouverte'},
{'id':'N°[data]'},
{'montantRecu':'','equal':'0'},{'montantEmisRappels':'','equal':'0'}
] %}


{% set filters = [
{'montantEmis':'number_2'},
{'montantEmisCreances':'number_2'},
{'montantEmisRappels':'number_2'},
{'montantRecu':'number_2'},
] %}

{% if factures is not empty %}
    {{ macro.liste('liste_facture',factures,headers,columns,actions,patterns,filters,toolbar) }}
{% endif %}