{% import "@App/Templates/liste.html.twig" as macro %}

<div id="search-infos-context" class="tab-context">

    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="factures">
            Factures
        </div>
        <div class="item" data-tab="creances">
            Creances
        </div>
        <div class="item">
            <div class="ui button" onclick="openSearchForm();"><i class="search icon"></i>Recherche</div>
        </div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="factures">
        <div class="ui grid" id="factureSearchContent">

            <div class="row">
                <div class="column">

                    {% if factures is not empty %}

                        {% include "InterneFinancesBundle:Search:listeFacture.html.twig" with {'factures':factures}%}

                    {% endif %}

                </div>


            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="creances">

            <div class="row">
                <div class="column">
                    {% if creances is not empty %}

                        {% include "InterneFinancesBundle:Search:liste_search_results.html.twig" with {'creances':creances}%}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>




