{% extends "layout.html.twig" %}


{% block titre %}Recherche de créances et de factures{% endblock %}

{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">




                {% include "InterneFinancesBundle:Search:results.html.twig" with {'factures': factures, 'creances':creances} %}

            </div>
        </div>
    </div>
</div>

{% include "InterneFinancesBundle:Modal:modalDisplay.html.twig" %}

{% endblock %}

{% block js %}

    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/search.js'
    '@InterneFinancesBundle/Resources/public/js/creance.js'
    '@InterneFinancesBundle/Resources/public/js/facture.js'
    '@InterneFinancesBundle/Resources/public/js/rappel.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}