{% extends "layout.html.twig" %}


{% block titre %}Rechercher de cérances et de factures{% endblock %}

{% block content %}


    <div class="ui button" onclick="$('#modal-facture-searchForm').modal('show');">Form</div>

    {% include "InterneFinancesBundle:Search:results.html.twig" with {'factures': factures, 'creances':creances} %}

    {% include "InterneFinancesBundle:Search:searchForm.html.twig" with {'searchForm': searchForm} %}



{% endblock %}

{% block js %}

    {% javascripts '@InterneFinancesBundle/Resources/public/js/search.js'
                    '@InterneFinancesBundle/Resources/public/js/creance.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}