<div class="ui vertical menu">

    <a class="item" href="{{ path('structure_gestion_groupe') }}">Gestion des groupes</a>

    <a class="item" href="{{ path('structure_gestion_fonctions') }}">Gestion des fonctions</a>

    <a class="item" href="{{ path('structure_gestion_model') }}">Gestion des modèles</a>

    <a class="item" href="{{ path('categorie_liste') }}">Gestion des Categories</a>
</div>
