<div id="ajouter-fonction-modale" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajouter une fonction
    </div>

    <div class="content">

        <form class="ui form" method="post" >

            <div class="field">
                {{ form_widget(form.nom) }}
            </div>

            <div class="field">
                {{ form_widget(form.abreviation) }}
            </div>
            {{ form_rest(form) }}

            <div class="ui field">
                <input type="submit" class="ui green button" value="Ajouter" />
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui button">Annuler</div>
    </div>
</div>