<table class="ui celled structured table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Abreviation</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for fonction in fonctions %}
        <tr>
            <td>{{ fonction.nom }}</td>
            <td>{{ fonction.abreviation }}</td>
            <td>
                <div class="ui mini icon button popupable editFonction" data-id="{{ fonction.id }}" data-content="Modifier la fonction">
                    <i class="configure icon"></i>
                </div>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>