{% extends 'AppBundle:Layout:layout.html.twig' %}


{% block titre %}Fonctions{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3>Gestion des fonctions</h3>
                <div class="ui segment">

                    {{ list_caller.fonctionAll()|raw }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}


