{% extends "layout.html.twig" %}

{% block titre %}Satistique sur les finances{% endblock %}


{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="ten wide column">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <div class="four wide column">
                            <div class="ui vertical buttons">
                                <div class="ui button small" onclick="getGraph(0);">Evolution des rappels</div>

                                <div class="ui button small" onclick="getGraph(1);">Montant ouvert</div>
                                <div class="ui button small" onclick="">Graph</div>
                                <div class="ui button small" onclick="">Graph</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>

    <script type="text/javascript">


        function getGraph(idGraph){


            var data = { idGraph: idGraph };

            $.ajax({
                type: "POST",
                url: Routing.generate('interne_fiances_statistics_get_graph'),
                data: data,
                error: function(jqXHR, textStatus, errorThrown) { alerte.send('Erreur','danger'); },
                success: function(graphData) {
                    $('#container').highcharts(graphData);
                }
            });


        }

        jQuery(document).ready(function() {


            getGraph(0);


        });
    </script>


{% endblock %}