
<div class="ui grid">

    {% for email in emails %}

        <div class="row contact_emails_item">

            <div class="column">

                <div class="ui accordion">
                    <div class="title">

                        <div class="ui grid">

                            <div class="row">
                                <div class="one wide column"><i class="dropdown icon"></i></div>

                                <div class="ten wide column">
                                    {{ form_row(email.email)  }}
                                </div>

                                <div class="one wide column">
                                    <div class="ui checkbox popupable" data-content="Envoie d'e-mail automatique">
                                        <input type="checkbox" name="email_expediable">
                                    </div>
                                </div>

                                <div class="one wide column">
                                    <a href="mailto:{{ email.email.vars.value  }}" class="popupable" data-content="Envoyer un e-mail">@</a>
                                </div>

                                <div class="one wide column">
                                    <i class="popupable trash red icon" data-content="Supprimer cette adresse"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="content">
                        <b>Remarques:</b><br>
                        <p>{{ form_row(email.remarques)  }}</p>
                    </div>
                </div>

                <div class="expediable">
                    {{ form_row(email.expediable)  }}
                </div>

            </div>

        </div>

    {% endfor %}

</div>