
<div class="ui card">

    <div class="content">

        <div class="header">{{ parent.prenom|capitalize }} {{ parent.nom|capitalize }}</div>
        <div class="description">

            {% include 'AppBundle:Partials:partial_contact.html.twig' with {'contact' : parent.contact} %}

        </div>

    </div>
</div>