
<div class="ui card">

    <div class="content">

        <div class="header">Famille {{ famille.nom|capitalize }}</div>
        <div class="description">

            {% include 'AppBundle:Partials:partial_contact.html.twig' with {'contact' : famille.contact} %}

        </div>

    </div>
    <div class="extra content">
        <span class="left floated like">
            {{ famille.membres|length }} membres
        </span>
    </div>
</div>