{# datepicker #}
{% block datepicker_widget -%}
    <div class="field">
        {{ block('form_label') }}
        <input type="text" class="datepicker" {{ block('widget_attributes') }} value="{{ value }}" />
    </div>
{%- endblock datepicker_widget %}