{# remarque_accordion #}
{% block remarque_accordion_widget -%}

    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            {{ block('form_label') }}
        </div>
        <div class="content">
            <div class="field">
                <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
            </div>
        </div>
    </div>
    <script>
        semantic_init();
    </script>


{%- endblock remarque_accordion_widget %}

