{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Recherche de créances{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="column">
            <div class="row">
                {% include "AppBundle:Creance:searchForm.html.twig" with {'form':searchForm} %}
                <div class="ui divider"></div>
            </div>
            <div class="row">
                {{ list_caller.Session(list_key)|raw }}
            </div>
        </div>
    </div>


{% endblock %}

