{% extends 'AppBundle:Templates:modal_small.html.twig' %}

{% block header %}
    <h4>Ajouter un envois</h4>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'ui form' }}) }}

    {{ form_rest(form) }}

    <div class="ui field">
        <input type="submit" class="ui green button" value="Ajouter" />
    </div>

    {{ form_end(form) }}

{% endblock %}


{% block js %}
    {{ parent() }}
    <script>
        //to activate the dropdown field in the form
        $('.ui.dropdown').dropdown();
    </script>
{% endblock %}


