{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Modèles{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3>Gestion des modèles</h3>
                <div class="ui segment">


                    <div class="ui small button addModelForm">
                        <i class="add icon"></i>
                        Ajouter un model
                    </div>

                    {% include "AppBundle:Model:liste_model.html.twig" with { 'models' : models } %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}


