{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Modèles{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">
                <h3>Gestion des modèles de groupe
                    {{ help("Les modeles de groupe sont directement lié au groupe. Ils définissent entièrement les propriété des groupes") }}
                </h3>
                <div class="ui segment">


                    <div class="ui small button addModelForm">
                        <i class="add icon"></i>
                        Ajouter un model
                    </div>



                    {{ list_caller.modelAll()|raw }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}


