
.dataTables_wrapper {
    display: flex;
    justify-content: space-between;
    font-size: .9em
}

.dataTables_wrapper input, .dataTables_wrapper select {
    padding: 2px;
    border: 1px solid #c8c8c8
}

.dataTables_wrapper input {
    margin-left: 5px
}

.dataTables_wrapper a {
    padding: 5px 8px;
    background: #fafafa;
    border: 1px solid #c8c8c8;
    cursor: pointer;
    color: #282828
}

.dataTables_wrapper a.current {
    background: #c8c8c8
}