
    <table class="ui definition table">
        <tbody>
        {{ form_row(geniteur.prenom) }}
        {{ form_row(geniteur.profession) }}
        </tbody>
    </table>

{#
<div class="row">
    {% include "AppBundle:Contact:show_with_form.html.twig" with {'contact':geniteur.contact} %}
</div>
#}