<div class="ui modal" id="modal-display" aria-hidden="true">


    <i class="close icon"></i>
    <div class="header"></div>
    <div class="content" style="overflow-y:auto"></div>
    <div class="actions"></div>

</div>


{% javascripts
'@InterneFinancesBundle/Resources/public/js/modalDisplay.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


