{% import "@App/Templates/liste.html.twig" as macro %}

{% set toolbar =
{'masse_actions':[
['money','Facturer les cérance','event_masse_facturation_creance'],
['trash','Supprimer','event_masse_delete_creance']
],
'search_bar':true,
'selection_buttons':true,
'paging':[10,20,50],
'sizing_label':'Créances'}
%}

{% set headers = [['Facutre','Titre','Emis','Recu']]%}

{% set columns = ['facture.id','titre','montantEmis','montantRecu'] %}

{% set actions = [  {'icon':'zoom','label':'Afficher','event':'event_voir_creance'},
{'icon':'trash','label':'Supprimer','event':'event_delete_creance','conditions':[['facture.id','equal','']]}
] %}

{% set patterns = [ {'facture.id':'N°[data]','diff':''},
{'facture.id':'<div class="ui label orange">En attente</div>','equal':''},] %}

{% set filters = [
{'montantEmis':'number_2'},
{'montantRecu':'number_2'},
] %}

{% if creances is not empty %}
    {{ macro.liste('liste_creance',creances,headers,columns,actions,patterns,filters,toolbar) }}
{% endif %}