{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Recherche de créances{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="four wide column">
                {% include "InterneFinancesBundle:Creance:searchForm.html.twig" with {'searchForm':searchForm} %}
            </div>
            <div class="twelve wide column">
                {{ list_container.getModel(constant('AppBundle\\Utils\\ListRenderer\\Model::CreanceSearchResults'), creances).render|raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    {% javascripts
    '@InterneFinancesBundle/Resources/public/js/model/*'
    '@InterneFinancesBundle/Resources/public/js/event_catcher.js'
    output='js/finances_recherche_creances.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}