{% if adresseExpedition is not null %}

    {# désactivé...

    {% if  adresseExpedition['owner'] == 'membre' %}
        {% set cible =  adresseExpedition['owner']['prenom']|capitalize ~' '~ adresseExpedition['owner']['nom']|capitalize  %}
    {% elseif  adresseExpedition['owner'] == 'famille'%}
        {% set cible =  'Famille ' ~ adresseExpedition['owner']['nom']|capitalize  %}
    {% elseif  adresseExpedition['owner'] == 'mere'%}
        {% set cible =  adresseExpedition['owner']['prenom']|capitalize ~' ' ~ adresseExpedition['owner']['nom']|capitalize  %}
    {% elseif  adresseExpedition['owner'] == 'pere'%}
        {% set cible =  adresseExpedition['owner']['prenom']|capitalize ~' ' ~ adresseExpedition['owner']['nom']|capitalize  %}
    {% endif %}

    {{ cible }}<br>

    #}
    {{ adresseExpedition['adresse'].rue }}<br>
    {{ adresseExpedition['adresse'].npa }}
    {{ adresseExpedition['adresse'].localite }}

{% else %}
    <div class="ui yellow icon message">
        <i class="warning icon">Aucune adresse postale</i>
    </div>
{% endif %}