<div id="add-distinctions-modal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajout de distinction(s)
    </div>
    <div class="content">

        <b>Choisir des distinctions à ajouter</b>
        <select id="distinctions-select" class="select2" multiple>
            {% for distinction in distinctions %}
                <option value="{{ distinction.id }}">{{ distinction.nom }}</option>
            {% endfor %}
        </select>

        <div class="ui divider"></div>

        <div class="ui input">
            <b>Date d'ajout</b>
            <input type="text" class="datepicker" />
        </div>

    </div>

    <div class="actions">
        <div class="ui button">Cancel</div>
        <div onclick="addListe(true);" class="ui button">OK</div>
    </div>
</div>