{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block titre %}Liste des roles{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="eight wide column">

            </div>
            <div class="eight wide column">
                <div class="ui orange message">
                    Pour plus d'info sur la hierachy des roles :
                    {{ modal_caller('<a>voir la hierachie des roles</a>',path('app_role_hierarchy')) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">


                <div class="ui attached message">
                    <h3>Liste des utilisateurs

                    </h3>
                </div>

                <div class="ui bottom attached segment">

                    {{ list_caller.userAll|raw }}

                </div>







            </div>
        </div>
    </div>

{% endblock %}


