{% extends "AppBundle:Layout:layout.html.twig" %}



{% block titre %}Parametres{% endblock %}


{% block content %}

<div class="ui page grid">
    <div class="row">
        <div class="column">

            <div class="ui attached message">
                <h3>Liste des paramètres de configuration
                    {{ help("Les paramètres de l'application permettent de modifier certaines valeurs utilisées dans de nombeux endroits, tel que le nom du groupe scout par exemple.") }}
                </h3>
            </div>

            <div class="ui bottom attached segment">

                {{ list_caller.parameterAll()|raw }}

            </div>

        </div>
    </div>
</div>







{% endblock %}




