{% extends "AppBundle:Layout:layout.html.twig" %}

{% form_theme form '@App/Templates/form_template.html.twig' %}

{% block titre %}Parametres{% endblock %}


{% block content %}

    <div class="ui page grid">
        <div class="row">
            <div class="column">

                <div class="ui segment">



                    {{ form_start(form,{'attr': {'class': 'ui form'}}) }}


                    {{ form_rest(form) }}


                    <input type="submit" class="ui button" value="Save">


                    {{ form_end(form) }}


                </div>



            </div>
        </div>
    </div>





{% endblock %}




