{% extends 'layout.html.twig' %}

{% block titre %}
Recherche
{% endblock %}


{% block content %}
<div class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">

                <form>
                    <label for="pattern">Rechercher : </label>
                    <input type="text" id="pattern" />
                </form>

                <h2>Resultats</h2>

                <div id="results">
                    <ul>
                        {% for result in results %}
                        <li>{{ result.prenom }} {{ result.nom }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}

    <script type="text/javascript">
        $('#pattern').change(function() {
            var pattern = $('#pattern').val();

            $.ajax({
                url: Routing.generate('interne_search_ajax_pattern', {pattern: pattern}),
                type: 'POST',
                success: function (data) {

                    var html = '';

                    if (data.length <= 0)
                        html = 'No results';

                    for (var i = 0; i < data.length; i++)
                        html += '<div class="item">' + data[i].prenom + data[i].nom + '</div>';

                    $('#results').html(html);
                },

                error: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });
    </script>
{% endblock %}
