
<table class="ui table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Ajoutée le</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    {% for photo in album.photos %}
    <tr>
        <td><a target="_blank" href="{{ asset(photo.webPath) }}">{{ photo.nom }}</a></td>
        <td>{{ photo.dateAjout|date('d.m.Y') }}</td>
        <td><a href="{{ path('interne_galerie_remove_picture', {picture: photo.nom}) }}">supprimer</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>